@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&family=M+PLUS+Rounded+1c:wght@400;700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
/*=======Main theme colors=======*/
/*=======Hover colors=======*/
/*=======Background colors=======*/
/*=======Color Filter=======*/
/*=======Box shadow=======*/
/*=======Font size=======*/
/*=======Scroll bar colors=======*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

html {
  scroll-behavior: smooth;
}

body {
  color: #0e2431;
  background-color: #fefefe;
  margin: 2rem 0 0 0;
  transition: 0.5s ease;
}

header {
  position: fixed;
  z-index: 99999;
  width: 100%;
  top: 0;
  left: 0;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  transition: 0.6s ease;
}

header.sticky {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}
header.sticky .navBar {
  height: 3.5rem;
}

.navBar {
  position: relative;
  height: 5rem;
  max-width: 1250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
  transition: 0.6s ease;
}
.navBar .logo {
  color: #0e2431;
  font-size: 1.3rem;
  font-weight: 600;
}

.navItems a {
  color: #0e2431;
  font-size: 1em;
  font-weight: 500;
}

.navItems a:not(:last-child) {
  margin-right: 50px;
}

.navItems a:hover {
  color: #6a59d1;
}

.homeImage {
  margin-right: -8rem;
}

.home {
  position: relative;
  max-width: 1250px;
  min-height: 100vh;
  margin-left: auto;
  margin-right: auto;
  padding: 4rem 2rem;
  flex-direction: column;
}
.home .homeContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.home .homeContainer .media-icons {
  display: flex;
  flex-direction: column;
  margin-right: 40px;
}
.home .homeContainer .media-icons a {
  color: #6a59d1;
  font-size: 1.5rem;
  margin: 10px 0;
}
.home .homeContainer .media-icons a:hover {
  color: #614fd0;
}
.home .homeContainer .info h2 {
  font-size: 4rem;
  font-weight: 600;
  line-height: 70px;
}
.home .homeContainer .info h3 {
  color: #777;
  font-feature-settings: 1.3rem;
  font-weight: 600;
  line-height: 50px;
}
.home .homeContainer .info p {
  color: #777;
  font-size: 1em;
  max-width: 350px;
}
.home .homeContainer .homeImage {
  position: relative;
}
.home .homeContainer .homeImage img {
  width: 75%;
  transform: translate(0, 0);
}

.btn {
  background: #6a59d1;
  color: #fff;
  font-size: 1em;
  font-weight: 500;
  display: inline-block;
  margin-top: 25px;
  padding: 20px 30px;
  letter-spacing: 1px;
  border-radius: 10px;
}

.btn:hover {
  background: #614fd0;
}

.section {
  position: relative;
  width: 1150px;
  margin-left: auto;
  margin-right: auto;
  padding: 6rem 2rem 2rem;
}

.sub-section {
  position: relative;
  width: 1150px;
  margin-left: auto;
  margin-right: auto;
  padding: 6rem 0;
}

.section-title-01 {
  font-size: 4.5em;
  font-weight: 800;
  margin-bottom: 2rem;
  background: linear-gradient(to top, transparent 0%, #0e2431 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0.1;
}

.section-title-02 {
  font-size: 2.5em;
  font-weight: 700;
  transform: translateY(-80px);
}

.section-title-02::before {
  content: "";
  position: absolute;
  width: 70px;
  height: 5px;
  right: 0;
  bottom: 0;
  background: #6a59d1;
}

.container {
  position: relative;
  flex-direction: column;
}

.aboutMe .container .content {
  -moz-column-gap: 40px;
       column-gap: 40px;
  width: 100%;
}

.aboutMe-img {
  position: relative;
}
.aboutMe-img img {
  max-width: 100%;
  min-width: 500px;
  border-radius: 10px;
}

.aboutMe-info .description h3 {
  font-size: 2em;
  font-weight: 600;
  margin-bottom: 10px;
}
.aboutMe-info .description h4 {
  font-size: 1.3em;
  font-weight: 600;
  margin-bottom: 10px;
}
.aboutMe-info .description h4 span {
  color: #6a59d1;
}
.aboutMe-info .description p {
  color: #777;
  font-size: 1em;
  margin-bottom: 15px;
  padding-bottom: 25px;
  border-bottom: 2px solid #d7d7d7;
}

.skills .container .content {
  width: 100%;
}

.skills-description {
  max-width: 700px;
  margin-bottom: 50px;
}
.skills-description h3 {
  font-size: 2rem;
  margin-bottom: 5px;
}

.skillsInfo {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  margin: 0 auto;
}
.skillsInfo h4 {
  margin-bottom: 20px;
}
.skillsInfo h4 label {
  background: #6a59d1;
  color: #fff;
  font-size: 1em;
  font-weight: 400;
  padding: 5px 15px;
  border-radius: 5px;
}

.educationAll {
  margin-bottom: 80px;
}

.educationList .item {
  background-color: #fff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid #6a59d1;
  padding: 20px;
  margin-top: 15px;
  border-radius: 6px;
  transition: 0.3s ease;
}
.educationList .item .year {
  font-size: 0.9em;
  margin-bottom: 5px;
}
.educationList .item p {
  color: #777;
  font-size: 0.9em;
}
.educationList .item p span {
  color: #0e2431;
  font-size: 1em;
  font-weight: 500;
}

.educationList .item:hover, .bar:hover, .experienceCard:hover {
  transform: scale(1.03);
}

.bar {
  background-color: #fff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  padding: 20px;
  border-radius: 6px;
  transition: 0.3s ease;
}
.bar .barInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  font-size: 0.9em;
}
.bar .barInfo span {
  font-weight: 500;
}
.bar .line {
  position: relative;
  width: 100%;
  height: 7px;
  background: #c5cadf;
  border-radius: 2px;
}
.bar .line::before {
  content: "";
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  background: #6a59d1;
  border-radius: 2px;
}
.bar .html::before {
  width: 97%;
}
.bar .scss::before {
  width: 85%;
}
.bar .bootstrap::before {
  width: 75%;
}
.bar .javascript::before {
  width: 45%;
}
.bar .python::before {
  width: 2%;
}

.experienceCard {
  background-color: #fff;
  border-bottom: 3px solid #6a59d1;
  padding: 35px;
  border-radius: 6px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  transition: 0.3s ease;
}
.experienceCard .upper {
  line-height: 30px;
}
.experienceCard h3 {
  font-size: 1.3rem;
  font-weight: 700;
}
.experienceCard h5 {
  font-size: 0.9em;
  font-weight: 500;
  font-style: italic;
}
.experienceCard span {
  color: #777;
}
.experienceCard .hr {
  width: 100%;
  height: 2px;
  background-color: #d7d7d7;
  margin: 10px 0 22px;
}

.portfolio .container .content {
  width: 100%;
}

.portfolioList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 35px;
}

.portfolioList .imgCard {
  position: relative;
  max-width: 100%;
  height: 200px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: pointer;
}
.portfolioList .imgCard img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.portfolioList .imgCard .overlay {
  transition: 1s ease;
}
.portfolioList .imgCard .cardInfo h3 {
  font-size: 1.5em;
}
.portfolioList .imgCard .cardInfo span {
  font-size: 1.2em;
}

.portfolioList .imgCard:hover .overlay {
  z-index: 777;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
}

.portfolioList .imgCard .cardInfo {
  z-index: 777;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 20px;
  color: #fff;
  transform: translateY(20px);
  opacity: 0;
  transition: 0.5s ease;
}

.portfolioList .imgCard:hover .cardInfo {
  transform: translateY(0);
  opacity: 1;
}

.portfolioModel {
  z-index: 999999;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease;
}

.portfolioModelBody {
  position: relative;
  background-color: #fff;
  max-width: 600px;
  margin: 20px;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  transform: translateY(-50px);
  transition: 0.5s ease;
}

.portfolio-close-btn {
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px;
  cursor: pointer;
}

.portfolioModelBody h3 {
  font-size: 1.5em;
}
.portfolioModelBody img {
  width: 100%;
  margin: 20px 0;
  border-radius: 10px;
}

.portfolioModel.active {
  visibility: visible;
  opacity: 1;
}

.portfolioModel.active .portfolioModelBody {
  transform: translateY(0);
}

.portfolioModelBody button {
  background: #6a59d1;
  color: #fff;
  font-size: 1em;
  border: none;
  font-weight: 400;
  padding: 5px 15px;
  border-radius: 5px;
}
.portfolioModelBody button a {
  color: #fff;
}

.contact .container .content {
  display: flex;
  justify-content: space-between;
}/*# sourceMappingURL=style.css.map */