@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&family=M+PLUS+Rounded+1c:wght@400;700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import './variables.scss';
@import './reset.scss';

html{
    scroll-behavior:smooth;
}
body{
    color: $--first-color;
    background-color: $--body-bg-color;
    margin: 2rem 0 0 0;
    transition: .5s ease;

}
// ----HEADER---START----

header{
    position: fixed;
    z-index: 99999;
    width: 100%;
    top: 0;
    left: 0;
    backdrop-filter: blur(20px);
    transition: .6s ease;
}
header.sticky{
    background: rgba(255,255,255,0.1);
    box-shadow: $--box-shadow;

    & .navBar{
        height: calc(2.5rem + 1rem);
    }
}

.navBar{
    position: relative;
    height: calc(4rem + 1rem);
    max-width: 1250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
    transition: .6s ease;

    & .logo{
        color: $--first-color;
        font-size: 1.3rem;
        font-weight: 600;
    }
}
 
.navItems a{
    color: $--first-color;
    font-size: $--normal-font-size;
    font-weight: 500;
}
// Menu arasındakı boşluqlar
.navItems a:not(:last-child){
    margin-right: 50px;
}
.navItems a:hover{
    color: $--second-color;
}
// ----HEADER---END----

// ---Ana sehife---SECTİON---STAR---
 .homeImage{
    margin-right: -8rem;
 }
.home{
    position: relative;
    max-width: 1250px;
    min-height: 100vh;
    margin-left: auto;
    margin-right: auto;
    padding: 4rem 2rem;
    flex-direction: column;

    & .homeContainer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        & .media-icons{
            display: flex;
            flex-direction: column;
            margin-right: 40px;

            & a{
                color: $--second-color;
                font-size: 1.5rem;
                margin: 10px 0;
            }

            & a:hover{
                color: $--hover-color;
            }

        }

        .info{
            & h2{
                font-size: 4rem;
                font-weight: 600;
                line-height: 70px;
            }

            & h3{
                color: $--third-color;
                font-feature-settings: 1.3rem;
                font-weight: 600;
                line-height: 50px;
            }

            & p{
                color: $--third-color;
                font-size: $--normal-font-size;
                max-width: 350px;
            }
        }

        & .homeImage{
            position: relative;

            & img{
                width: 75%;
                transform: translate(0,0);
            }
        }
    }
}

.btn{
    background: $--second-color;
    color: $--modal-bg-color;
    font-size: $--normal-font-size;
    font-weight: 500;
    display: inline-block;
    margin-top: 25px;
    padding: 20px 30px;
    letter-spacing: 1px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
.btn:hover{
    background: $--hover-color;
}
// ---Ana sehife---SECTİON---END---

// <!-- -----HAQQINDA----BÖLMƏSİ---START--- -->

.section{
    position: relative;
    width: 1150px;
    margin-left: auto;
    margin-right: auto;
    padding: 6rem 2rem 2rem;
}
.sub-section{
    position: relative;
    width: 1150px;
    margin-left: auto;
    margin-right: auto;
    padding: 6rem 0;
}
.section-title-01{
    font-size: 4.5em;
    font-weight: 800;
    margin-bottom: 2rem;
    background: linear-gradient(to top, transparent 0%, $--first-color 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: .1;
}
.section-title-02{
    font-size: 2.5em;
    font-weight: 700;
    transform: translateY(-80px);
}
.section-title-02::before{
    content: '';
    position: absolute;
    width: 70px;
    height: 5px;
    right: 0;
    bottom: 0;
    background: $--second-color;
}
.container{
    position: relative;
    flex-direction: column;
}

.aboutMe .container .content{
    column-gap: 40px;
    width: 100%;
}
.aboutMe-img{
    position: relative;

    & img{
        max-width: 100%;
        min-width: 500px;
        border-radius: 10px;
    }
}
.aboutMe-info{


    & .description{
        & h3{
            font-size: 2em;
            font-weight: 600;
            margin-bottom: 10px;
        }
        & h4{
            font-size: 1.3em;
            font-weight: 600;
            margin-bottom: 10px;

            & span{
                color: $--second-color;
            }
        }

        & p{
            color: $--third-color;
            font-size: $--normal-font-size;
            margin-bottom: 15px;
            padding-bottom: 25px;
            border-bottom: 2px solid $--line-color;
        }
    }
    
}
// <!-- -----HAQQINDA----BÖLMƏSİ---END--- -->

// -------BACARIQLAR----BÖLMESİ----START---

.skills .container .content{
    width: 100%;
}
.skills-description{
    max-width: 700px;
    margin-bottom: 50px;

    & h3{
        font-size: 2rem;
        margin-bottom: 5px;
    }
}
.skillsInfo{
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px, 1fr));
    gap: 20px;
    margin: 0 auto;

    & h4{
        margin-bottom: 20px;

        & label{
            background: $--second-color;
            color: $--card-bg-color;
            font-size: $--normal-font-size;
            font-weight: 400;
            padding: 5px 15px;
            border-radius: 5px;
        }
    }
}

.educationAll{
    margin-bottom: 80px;
}

.educationList{

    & .item{
        background-color: $--card-bg-color;
        box-shadow: $--box-shadow;
        border-bottom: 3px solid $--second-color;
        padding: 20px;
        margin-top: 15px;
        border-radius: 6px;
        transition: .3s ease;

        & .year{
            font-size: $--small-font-size;
            margin-bottom: 5px;
        }

        & p{
            color: $--third-color;
            font-size: $--small-font-size;

            & span{
                color: $--first-color;
                font-size: $--normal-font-size;
                font-weight: 500;
            }
        }

    }

}

.educationList .item:hover, .bar:hover, .experienceCard:hover{
    transform: scale(1.03);
}

.bar{
    background-color: $--card-bg-color;
    box-shadow: $--box-shadow;
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 6px;
    transition: .3s ease;

    & .barInfo{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 5px;
        font-size: $--small-font-size;

        & span{
            font-weight: 500;
        }
    }

    & .line{
        position: relative;
        width: 100%;
        height: 7px;
        background: #c5cadf;
        border-radius: 2px;

        &::before{
            content: '';
            position: absolute;
            height: 100%;
            top: 0;
            left: 0;
            background: $--second-color;
            border-radius: 2px;
        }
    }

    & .html::before{
        width: 97%;

    }
    & .scss::before{
        width: 85%;

    }
    & .bootstrap::before{
        width: 75%;

    }
    & .javascript::before{
        width: 45%;

    }
    & .python::before{
        width: 2%;

    }
}

.experienceCard{
    background-color: $--card-bg-color;
    border-bottom: 3px solid $--second-color;
    padding: 35px;
    border-radius: 6px;
    box-shadow: $--box-shadow;
    transition: .3s ease;

    & .upper{
        line-height: 30px;
    }

    & h3{
        font-size: 1.3rem;
        font-weight: 700;

    }
    & h5{
        font-size: $--small-font-size;
        font-weight: 500;
        font-style: italic;
    }

    & span{
        color: $--third-color;
    }
    & .hr{
        width: 100%;
        height: 2px;
        background-color: $--line-color;
        margin: 10px 0 22px;
    }
}

// -------BACARIQLAR----BÖLMESİ----END---


// ------PROYEKTLER----BÖLMESİ---START--
.portfolio .container .content{
    width: 100%;
}
.portfolioList{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 35px;
}
.portfolioList{
    & .imgCard{
        position: relative;
        max-width: 100%;
        height: 200px;
        border-radius: 10px;
        box-shadow: $--box-shadow;
        overflow: hidden;
        cursor: pointer;
        & img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        & .overlay{
            transition: 1s ease;
        }
        & .cardInfo{
            & h3{
                font-size: 1.5em;
            }
            & span{
                font-size: 1.2em;
            }
        }
    }
}
.portfolioList .imgCard:hover .overlay{
    z-index: 777;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.1);
}
.portfolioList .imgCard .cardInfo{
    z-index: 777;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 20px;
    color: #fff;
    transform: translateY(20px);
    opacity: 0;
    transition: .5s ease;
}
.portfolioList .imgCard:hover .cardInfo{
    transform: translateY(0);
    opacity: 1;
}

.portfolioModel{
    z-index: 999999;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: $--bg-transparent-color;
    backdrop-filter: blur(20px);
    visibility: hidden;
    opacity: 0;
    transition: .3s ease;
}
.portfolioModelBody{
    position: relative;
    background-color: $--modal-bg-color;
    max-width: 600px;
    margin: 20px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: $--box-shadow;
    transform: translateY(-50px);
    transition: .5s ease;
}
.portfolio-close-btn{
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px;
    cursor: pointer;
}
.portfolioModelBody{
    & h3{
        font-size: 1.5em;
    }
    & img{
        width: 100%;
        margin: 20px 0;
        border-radius: 10px;
    }
}
.portfolioModel.active{
    visibility: visible;
    opacity: 1;
}
.portfolioModel.active .portfolioModelBody{
    transform: translateY(0);
}
.portfolioModelBody{
    
      
    
        & button{
            background: $--second-color;
            color: $--card-bg-color;
            font-size: $--normal-font-size;
            border: none;
            font-weight: 400;
            padding: 5px 15px;
            border-radius: 5px;

            
            & a{
                color: $--card-bg-color;

            }
        }
    
}

// ------PROYEKTLER----BÖLMESİ---END--

// -------ELAQE----BÖLMESİ----START---

.contact{
    & .container{
        & .content{
            display: flex;
            justify-content: space-between;
            width: 100%;
            & .contactLeft{
                & h2{
                    font-size: 2.1em;
                    font-weight: 800px;
                    margin-bottom: 40px;
                }
                & .contactList li{
                    margin-bottom: 40px;

                    & span{
                        color: $--third-color;
                        margin-left: 40px;

                        & a{
                            color: $--third-color;
                        }
                    }

                    & h3{
                        font-size: 1.3em;
                        font-weight: 600;
                        margin-bottom: 10px;

                        & i{
                            color: $--second-color;
                            font-size: 1.3em;
                            padding-right: 10px;
                        }
                    }
                }
               
            }

            & .contactRight{
                & p{
                    color: $--third-color;
                    font-size: 1.6em;
                    margin-bottom: 30px;

                    & span{
                        color: $--first-color;
                        font-weight: 700;
                    }
                }
                & .secondRow{
                    display: flex;
                    justify-content: space-between;
                }
                & .secondRow input{
                    width: 48%;
                }
                & .firstRow input{
                    width: 100%;
                }

                & input,textarea{
                    border: none;
                    color: $--first-color;
                    background-color: $--transparent-color-02;
                    font-size: $--normal-font-size;
                    margin-bottom: 20px;
                    padding: 15px 40px 40px 20px;
                    border-radius: 5px;
                }
                & textarea{
                    width: 100%;
                    resize: none;
                }
               
            }
        }
    }
}

::placeholder{
    color: $--first-color;
}

// -------ELAQE----BÖLMESİ----END---

// -----FOOTER----BÖLMESİ----START-- 

footer{
    display: flex;
    justify-content: center;
}

// -----FOOTER----BÖLMESİ----END-- 

