@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&family=M+PLUS+Rounded+1c:wght@400;700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import './variables.scss';
@import './reset.scss';

html{
    scroll-behavior:smooth;
}
body{
    color: $--first-color;
    background-color: $--body-bg-color;
    margin: 2rem 0 0 0;
    transition: .5s ease;

}
// ----HEADER---START----

header{
    position: fixed;
    z-index: 99999;
    width: 100%;
    top: 0;
    left: 0;
    backdrop-filter: blur(20px);
    transition: .6s ease;
}

.navBar{
    position: relative;
    height: calc(4rem + 1rem);
    max-width: 1250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
    transition: .6s ease;

    & .logo{
        color: $--first-color;
        font-size: 1.3rem;
        font-weight: 600;
    }
}
 
.navItems a{
    color: $--first-color;
    font-size: $--normal-font-size;
    font-weight: 500;
}
// Menu arasındakı boşluqlar
.navItems a:not(:last-child){
    margin-right: 50px;
}
.navItems a:hover{
    color: $--second-color;
}
// ----HEADER---END----

// ---Ana sehife---SECTİON---STAR---
 .homeImage{
    margin-right: -8rem;
 }
.home{
    position: relative;
    max-width: 1250px;
    min-height: 100vh;
    margin-left: auto;
    margin-right: auto;
    padding: 4rem 2rem;
    flex-direction: column;

    & .homeContainer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        & .media-icons{
            display: flex;
            flex-direction: column;
            margin-right: 40px;

            & a{
                color: $--second-color;
                font-size: 1.5rem;
                margin: 10px 0;
            }

            & a:hover{
                color: $--hover-color;
            }

        }

        .info{
            & h2{
                font-size: 4rem;
                font-weight: 600;
                line-height: 70px;
            }

            & h3{
                color: $--third-color;
                font-feature-settings: 1.3rem;
                font-weight: 600;
                line-height: 50px;
            }

            & p{
                color: $--third-color;
                font-size: $--normal-font-size;
                max-width: 350px;
            }
        }

        & .homeImage{
            position: relative;

            & img{
                width: 75%;
                transform: translate(0,0);
            }
        }
    }
}

.btn{
    background: $--second-color;
    color: $--modal-bg-color;
    font-size: $--normal-font-size;
    font-weight: 500;
    display: inline-block;
    margin-top: 25px;
    padding: 20px 30px;
    letter-spacing: 1px;
    border-radius: 10px;
}
.btn:hover{
    background: $--hover-color;
}
// ---Ana sehife---SECTİON---END---

// <!-- -----HAQQINDA----BÖLMƏSİ---START--- -->

.section{
    position: relative;
    width: 1150px;
    margin-left: auto;
    margin-right: auto;
    padding: 6rem 2rem 2rem;
}
.sub-section{
    position: relative;
    width: 1150px;
    margin-left: auto;
    margin-right: auto;
    padding: 6rem 0;
}
.section-title-01{
    font-size: 4.5em;
    font-weight: 800;
    margin-bottom: 2rem;
    background: linear-gradient(to top, transparent 0%, $--first-color 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: .1;
}
.section-title-02{
    font-size: 2.5em;
    font-weight: 700;
    transform: translateY(-80px);
}
.section-title-02::before{
    content: '';
    position: absolute;
    width: 70px;
    height: 5px;
    right: 0;
    bottom: 0;
    background: $--second-color;
}
.container{
    position: relative;
    flex-direction: column;
}

.aboutMe .container .content{
    column-gap: 40px;
    width: 100%;
}
.aboutMe-img{
    position: relative;

    & img{
        max-width: 100%;
        min-width: 500px;
        border-radius: 10px;
    }
}
.aboutMe-info{


    & .description{
        & h3{
            font-size: 2em;
            font-weight: 600;
            margin-bottom: 10px;
        }
        & h4{
            font-size: 1.3em;
            font-weight: 600;
            margin-bottom: 10px;

            & span{
                color: $--second-color;
            }
        }

        & p{
            color: $--third-color;
            font-size: $--normal-font-size;
            margin-bottom: 15px;
            padding-bottom: 25px;
            border-bottom: 2px solid $--line-color;
        }
    }
    
}
// <!-- -----HAQQINDA----BÖLMƏSİ---END--- -->

