@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&family=M+PLUS+Rounded+1c:wght@400;700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
.dark-theme {
  --first-color: #fff;
  --second-color: #6a59d1;
  --third-color: #a9afc3;
  /*=======Background colors=======*/
  --body-bg-color: #0e1b31;
  --card-bg-color: #132347;
  --modal-bg-color: #102048;
  --bg-transparent-color: rgba(255, 255, 255, 0.1);
  --transparent-color-01: rgba(255, 255, 255, 0.1);
  --line-color: #454f6b;
  /*=======Color Filter=======*/
  --color-filter: invert(0);
  /*=======Scroll bar colors=======*/
  --scroll-bar-color: #c1ceff;
  --scroll-thumb-color: #282f4e;
  --scroll-thumb-hover-color: #454f6b;
}

:root {
  /*=======Main theme colors=======*/
  --first-color: #0e2431;
  --second-color: #6a59d1;
  --third-color: #777;
  /*=======Hover colors=======*/
  --hover-color: #614fd0;
  /*=======Background colors=======*/
  --body-bg-color: #fefefe;
  --card-bg-color: #fff;
  --modal-bg-color: #fff;
  --bg-transparent-color: rgba(0, 0, 0, 0.1);
  --transparent-color-01: rgba(0, 0, 0, 0.1);
  --transparent-color-02: rgba(106, 89, 209, 0.1);
  --line-color: #d7d7d7;
  /*=======Color Filter=======*/
  --color-filter: invert(1);
  /*=======Box shadow=======*/
  --box-shadow: 0px 0px 20px rgb(0 0 0 / 10%);
  /*=======Font size=======*/
  --small-font-size: 0.9em;
  --normal-font-size: 1em;
  /*=======Scroll bar colors=======*/
  --scroll-bar-color: #c5cadf;
  --scroll-thumb-color: #70768a;
  --scroll-thumb-hover-color: #454f6b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--first-color);
  background-color: var(--body-bg-color);
  margin: 2rem 0 0 0;
  transition: 0.5s ease;
}

.scrollToTop-btn {
  z-index: 99999;
  position: fixed;
  right: 0;
  bottom: 20px;
  width: 45px;
  height: 45px;
  background-color: var(--second-color);
  color: #fff;
  font-size: --small-font-size;
  border-radius: 3px;
  cursor: pointer;
  opacity: 0;
  transition: 0.5s ease;
}

.scrollToTop-btn.active {
  right: 20px;
  pointer-events: all;
  opacity: 1;
}

.theme-btn {
  z-index: 99999;
  position: fixed;
  left: 0;
  top: 100px;
  background-color: var(--transparent-color-01);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  width: 50px;
  height: 50px;
  font-size: 1.22em;
  border-radius: 5px 0 0 5px;
  box-shadow: var(--box-shadow);
  cursor: pointer;
}

.theme-btn .fa-sun, .theme-btn.sun .fa-moon {
  display: none;
}

.theme-btn.sun .fa-sun {
  display: block;
}

header {
  position: fixed;
  z-index: 99999;
  width: 100%;
  top: 0;
  left: 0;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  transition: 0.6s ease;
}

header.sticky {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: var(--box-shadow);
}
header.sticky .navBar {
  height: 3.5rem;
}

.navBar {
  position: relative;
  height: 5rem;
  max-width: 1250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
  transition: 0.6s ease;
}
.navBar .logo {
  color: var(--first-color);
  font-size: 1.3rem;
  font-weight: 600;
}

.navItems a {
  color: var(--first-color);
  font-size: var(--normal-font-size);
  font-weight: 500;
}

.navItems a:not(:last-child) {
  margin-right: 50px;
}

.navItems a:hover {
  color: var(--second-color);
}

.nav-menu-btn {
  display: none;
}

.homeImage {
  margin-right: -8rem;
}

.home {
  position: relative;
  max-width: 1250px;
  min-height: 100vh;
  margin-left: auto;
  margin-right: auto;
  padding: 4rem 2rem;
  flex-direction: column;
}
.home .homeContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.home .homeContainer .media-icons {
  display: flex;
  flex-direction: column;
  margin-right: 40px;
}
.home .homeContainer .media-icons a {
  color: var(--second-color);
  font-size: 1.5rem;
  margin: 10px 0;
}
.home .homeContainer .media-icons a:hover {
  color: var(--hover-color);
}
.home .homeContainer .info h2 {
  font-size: 4rem;
  font-weight: 600;
  line-height: 70px;
}
.home .homeContainer .info h3 {
  color: var(--third-color);
  font-feature-settings: 1.3rem;
  font-weight: 600;
  line-height: 50px;
}
.home .homeContainer .info p {
  color: var(--third-color);
  font-size: var(--normal-font-size);
  max-width: 350px;
}
.home .homeContainer .homeImage {
  position: relative;
}
.home .homeContainer .homeImage img {
  width: 75%;
  transform: translate(0, 0);
}

.btn {
  background: var(--second-color);
  color: var(--modal-bg-color);
  font-size: var(--normal-font-size);
  font-weight: 500;
  display: inline-block;
  margin-top: 25px;
  padding: 20px 30px;
  letter-spacing: 1px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background: var(--hover-color);
}

.section {
  position: relative;
  width: 1150px;
  margin-left: auto;
  margin-right: auto;
  padding: 6rem 2rem 2rem;
}

.sub-section {
  position: relative;
  width: 1150px;
  margin-left: auto;
  margin-right: auto;
  padding: 6rem 0;
}

.section-title-01 {
  font-size: 4.5em;
  font-weight: 800;
  margin-bottom: 2rem;
  background: linear-gradient(to top, transparent 0%, var(--first-color) 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0.1;
}

.section-title-02 {
  font-size: 2.5em;
  font-weight: 700;
  transform: translateY(-80px);
}

.section-title-02::before {
  content: "";
  position: absolute;
  width: 70px;
  height: 5px;
  right: 0;
  bottom: 0;
  background: var(--second-color);
}

.container {
  position: relative;
  flex-direction: column;
}

.aboutMe .container .content {
  -moz-column-gap: 40px;
       column-gap: 40px;
  width: 100%;
}

.aboutMe-img {
  position: relative;
}
.aboutMe-img img {
  max-width: 100%;
  min-width: 500px;
  border-radius: 10px;
}

.aboutMe-info .description h3 {
  font-size: 2em;
  font-weight: 600;
  margin-bottom: 10px;
}
.aboutMe-info .description h4 {
  font-size: 1.3em;
  font-weight: 600;
  margin-bottom: 10px;
}
.aboutMe-info .description h4 span {
  color: var(--second-color);
}
.aboutMe-info .description p {
  color: var(--third-color);
  font-size: var(--normal-font-size);
  margin-bottom: 15px;
  padding-bottom: 25px;
  border-bottom: 2px solid var(--line-color);
}

.skills .container .content {
  width: 100%;
}

.skills-description {
  max-width: 700px;
  margin-bottom: 50px;
}
.skills-description h3 {
  font-size: 2rem;
  margin-bottom: 5px;
}

.skillsInfo {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  margin: 0 auto;
}
.skillsInfo h4 {
  margin-bottom: 20px;
}
.skillsInfo h4 label {
  background: var(--second-color);
  color: var(--card-bg-color);
  font-size: var(--normal-font-size);
  font-weight: 400;
  padding: 5px 15px;
  border-radius: 5px;
}

.educationAll {
  margin-bottom: 80px;
}

.educationList .item {
  background-color: var(--card-bg-color);
  box-shadow: var(--box-shadow);
  border-bottom: 3px solid var(--second-color);
  padding: 20px;
  margin-top: 15px;
  border-radius: 6px;
  transition: 0.3s ease;
}
.educationList .item .year {
  font-size: var(--small-font-size);
  margin-bottom: 5px;
}
.educationList .item p {
  color: var(--third-color);
  font-size: --small-font-size;
}
.educationList .item p span {
  color: var(--first-color);
  font-size: --normal-font-size;
  font-weight: 500;
}

.educationList .item:hover, .bar:hover, .experienceCard:hover {
  transform: scale(1.03);
}

.bar {
  background-color: var(--card-bg-color);
  box-shadow: var(--box-shadow);
  margin-bottom: 10px;
  padding: 20px;
  border-radius: 6px;
  transition: 0.3s ease;
}
.bar .barInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  font-size: --small-font-size;
}
.bar .barInfo span {
  font-weight: 500;
}
.bar .line {
  position: relative;
  width: 100%;
  height: 7px;
  background: #c5cadf;
  border-radius: 2px;
}
.bar .line::before {
  content: "";
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  background: var(--second-color);
  border-radius: 2px;
}
.bar .html::before {
  width: 97%;
}
.bar .scss::before {
  width: 85%;
}
.bar .bootstrap::before {
  width: 75%;
}
.bar .javascript::before {
  width: 45%;
}
.bar .python::before {
  width: 2%;
}

.experienceCard {
  background-color: var(--card-bg-color);
  border-bottom: 3px solid var(--second-color);
  padding: 35px;
  border-radius: 6px;
  box-shadow: var(--box-shadow);
  transition: 0.3s ease;
}
.experienceCard .upper {
  line-height: 30px;
}
.experienceCard h3 {
  font-size: 1.3rem;
  font-weight: 700;
}
.experienceCard h5 {
  font-size: --small-font-size;
  font-weight: 500;
  font-style: italic;
}
.experienceCard span {
  color: var(--third-color);
}
.experienceCard .hr {
  width: 100%;
  height: 2px;
  background-color: var(--line-color);
  margin: 10px 0 22px;
}

.portfolio .container .content {
  width: 100%;
}

.portfolioList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 35px;
}

.portfolioList .imgCard {
  position: relative;
  max-width: 100%;
  height: 200px;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  overflow: hidden;
  cursor: pointer;
}
.portfolioList .imgCard img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.portfolioList .imgCard .overlay {
  transition: 1s ease;
}
.portfolioList .imgCard .cardInfo h3 {
  font-size: 1.5em;
}
.portfolioList .imgCard .cardInfo span {
  font-size: 1.2em;
}

.portfolioList .imgCard:hover .overlay {
  z-index: 777;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
}

.portfolioList .imgCard .cardInfo {
  z-index: 777;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 20px;
  color: #fff;
  transform: translateY(20px);
  opacity: 0;
  transition: 0.5s ease;
}

.portfolioList .imgCard:hover .cardInfo {
  transform: translateY(0);
  opacity: 1;
}

.portfolioModel {
  z-index: 999999;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: var(--bg-transparent-color);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease;
}

.portfolioModelBody {
  position: relative;
  background-color: var(--modal-bg-color);
  max-width: 600px;
  margin: 20px;
  padding: 40px;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  transform: translateY(-50px);
  transition: 0.5s ease;
}

.portfolio-close-btn {
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px;
  cursor: pointer;
}

.portfolioModelBody h3 {
  font-size: 1.5em;
}
.portfolioModelBody img {
  width: 100%;
  margin: 20px 0;
  border-radius: 10px;
}

.portfolioModel.active {
  visibility: visible;
  opacity: 1;
}

.portfolioModel.active .portfolioModelBody {
  transform: translateY(0);
}

.portfolioModelBody button {
  background: var(--second-color);
  color: var(--card-bg-color);
  font-size: --normal-font-size;
  border: none;
  font-weight: 400;
  padding: 5px 15px;
  border-radius: 5px;
}
.portfolioModelBody button a {
  color: var(--card-bg-color);
}

.contact .container .content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.contact .container .content .contactLeft h2 {
  font-size: 2.1em;
  font-weight: 800px;
  margin-bottom: 40px;
}
.contact .container .content .contactLeft .contactList li {
  margin-bottom: 40px;
}
.contact .container .content .contactLeft .contactList li span {
  color: var(--third-color);
  margin-left: 40px;
}
.contact .container .content .contactLeft .contactList li span a {
  color: var(--third-color);
}
.contact .container .content .contactLeft .contactList li h3 {
  font-size: 1.3em;
  font-weight: 600;
  margin-bottom: 10px;
}
.contact .container .content .contactLeft .contactList li h3 i {
  color: var(--second-color);
  font-size: 1.3em;
  padding-right: 10px;
}
.contact .container .content .contactRight p {
  color: var(--third-color);
  font-size: 1.6em;
  margin-bottom: 30px;
}
.contact .container .content .contactRight p span {
  color: var(--first-color);
  font-weight: 700;
}
.contact .container .content .contactRight .secondRow {
  display: flex;
  justify-content: space-between;
}
.contact .container .content .contactRight .secondRow input {
  width: 48%;
}
.contact .container .content .contactRight .firstRow input {
  width: 100%;
}
.contact .container .content .contactRight input, .contact .container .content .contactRight textarea {
  border: none;
  color: var(--first-color);
  background-color: var(--transparent-color-02);
  font-size: --normal-font-size;
  margin-bottom: 20px;
  padding: 15px 40px 40px 20px;
  border-radius: 5px;
}
.contact .container .content .contactRight textarea {
  width: 100%;
  resize: none;
}

::-moz-placeholder {
  color: var(--first-color);
}

::placeholder {
  color: var(--first-color);
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--second-color);
  width: 100%;
  margin-top: 50px;
  padding: 3rem 2rem;
  color: #fff;
}
footer a {
  color: white;
}
footer .footerContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1150px;
}
footer .footerContainer .about h2 {
  font-size: 3em;
  font-weight: 600;
  background: linear-gradient(to top, transparent 0%, #fff 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0.8;
}
footer .footerContainer .about p {
  font-size: --normal-font-size;
  font-weight: 300;
  margin-bottom: 30px;
}

.footerContainer .info,
.footerContainer .follow {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.footerContainer .info h3,
.footerContainer .follow h3 {
  font-size: 1.1em;
  font-weight: 500;
  margin-bottom: 30px;
}
.footerContainer .info ul,
.footerContainer .follow ul {
  display: flex;
}
.footerContainer .info a,
.footerContainer .follow a {
  margin: 20px;
}

.footerContainer .follow a {
  font-size: 1.5em;
}

.footerCopyright p {
  font-size: --normal-font-size;
  font-weight: 300;
  margin-top: 50px;
}/*# sourceMappingURL=style.css.map */